@model int
@{
    ViewData["Title"] = "Delete camera";
}

<h2>Are you sure you want to delete this camera?</h2>

<a href="/home/index" class="btn btn-default">Cancel</a>
<a href="/cameras/destroy/@Model" class="btn btn-danger">Confirm Delete</a>