@model CameraViewModel
@{
    ViewData["Title"] = "Edit Camera";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
        @Html.Partial("_CameraForm", Model)
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


