@using Microsoft.AspNetCore.Identity
    @using CameraBazaar.Web.Models

    @inject SignInManager<User> SignInManager
    @inject UserManager<User> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
      <h2 class="text-center">Hello @UserManager.GetUserName(User)!</h2>
    }